<html>
<body>
{% if user.is_authenticated %}
{{ user }} - <a href="{% url 'logout' %}">Log out</a>
{% else %}
<a href="{% url 'login' %}">Log in</a>
{% endif %}

<div id="app">
    [[ post.title ]] - [[ post.how_long_ago ]] - [[ post.domain_name ]]
    <template v-if="is_authenticated">
    - <span v-if="post.upvoted">Upvoted</span><span v-else>Not Upvoted</span>
    - <button v-on:click="upvote(post)">Toggle upvoted</button>
    </template>


    <template v-if="is_authenticated">
        <form action="" method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Submit" />
        </form>
    </template>
    <ul v-for="comment in post.comments">
        <comment-comp v-bind:comment="comment" v-on:send_upvote="upvote($event)" v-bind:is_authenticated="is_authenticated"></comment-comp>
    </ul>
</div>

<!-- development version, includes helpful console warnings -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
function getCookie(name) {
var cookieValue = null;
if (document.cookie && document.cookie !== '') {
    var cookies = document.cookie.split(';');
    for (var i = 0; i < cookies.length; i++) {
        var cookie = jQuery.trim(cookies[i]);
        // Does this cookie string begin with the name we want?
        if (cookie.substring(0, name.length + 1) === (name + '=')) {
            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
            break;
        }
    }
}
return cookieValue;
}

function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}

var csrftoken = getCookie('csrftoken');

$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});

function upvote(obj) {
  $.post({
    url: obj.upvote_url,
    data: JSON.stringify({
        upvoted: !obj.upvoted
    }),
    success: function (data, text_status, jq_XHR) {
      obj.upvoted = !obj.upvoted
    },
  })
}

Vue.component('comment-comp', {
  data: function () {
    return {
      show_reply: false,
      content: '',
    }
  },
  delimiters: ['[[', ']]'],
  props: ['comment', 'is_authenticated'],
  template: `<li>[[ comment.content ]] - [[ comment.how_long_ago ]]
        <template v-if="is_authenticated">
        - <span v-if="comment.upvoted">Upvoted</span><span v-else>Not Upvoted</span>
        - <button v-on:click="send_upvote(comment)">Toggle upvoted</button>
        </template>
        <button v-on:click="show_textarea">Reply</button>
        <template v-if="show_reply">
        <textarea v-model='content'></textarea>
        <button v-on:click="send_comment">Submit</button>
        </template>
        <ul v-for="reply in comment.replies">
          <comment-comp v-bind:comment="reply" v-on:send_upvote="send_upvote(reply)" v-bind:is_authenticated="is_authenticated"></comment-comp>
        </ul>
        </li>`,
  methods: {
    send_upvote: function (comment) {
      this.$emit('send_upvote', comment)
    },
    show_textarea: function() {
      this.show_reply = true
    },
    send_comment: function() {
      $.post({
        url: this.comment.comment_url,
        data: JSON.stringify({
          content: this.content
        }),
        success: function (data, text_status, jq_XHR) {
          location.reload(true);
        },
      })
    }
  }
});

var app = new Vue({
  el: '#app',
  delimiters: ['[[', ']]'],
  data: {
    post: {{ post_json|safe }},
    is_authenticated: {% if user.is_authenticated %}true{% else %}false{% endif %},
  },
  methods: {
    upvote: function (obj) {
      $.post({
        url: obj.upvote_url,
        data: JSON.stringify({
            upvoted: !obj.upvoted
        }),
        success: function (data, text_status, jq_XHR) {
          obj.upvoted = !obj.upvoted
        },
      })
    }
  }
})
</script>
</body>
</html>
